extends layout

block body
	style

		body {
			background: #333;
		}

		.floatRight {
			display: none;
		}

		.navbar {
			display: none;
		}

		.container {
			margin-left: auto;
			margin-right: auto;
		}


	.coolStory
		p Мы убеждены, что должен существовать лучший способ покупки путешествий в Интернете, который был бы удобнее остальных и давал сэкономить время и деньги.
		
		p Который бы позволял выбирать лучшие предложения со множества туристических сервисов, позволял самому составлять маршрут путешествия. Который бы делился комиссией, позволяя покупать еще дешевле чем на других сайтах.

		:markdown
			Так вышло, всё это про [остротерру](http://ostroterra.com/) – интеллектуальный метапоиск по туристическим сервисам.

		center 
			p ~~~

		:markdown
			Сейчас остротерра ищет отели на [островке](http://ostrovok.ru/), а авиабилеты на [эвитерре](http://eviterra.com/) – лучших тревел-сайтах в рунете, но будут добавляться и другие отличные поставщики, делая остротерру наиболее полным туристическим сервисом.

		p Остротерра не просто показывает все возможные варианты отелей и перелетов, а помогает составлять путешествия, укладываясь в бюджет и выбирая только лучшее.

		p Кунг-фу остротерры (node.js, socket.io) позволяет легко подключать новых поставщиков за часы, а не недели. Выдача происходит в реальном времени – очень, очень быстро, в отличие от существующих метапоисковиков. Применяя методы динамического программирования и многокритериальной оптимизации остротерра показывает только те варианты, которые подходят именно вам.

		p Остротерра находится на очень ранней стадии разработки, но разрабатывается максимально открыто – сайт меняется буквально каждый день. Это интересный эксперимент, который поможет мгновенно получить фидбек от пользователей.

		:markdown
			*[Команда Остротерры](mailto:s@ostroterra.com)*

		p
			img(src="http://s3-ec.buzzfed.com/static/enhanced/web05/2012/9/18/17/anigif_enhanced-buzz-26853-1348003850-7.gif", class="shadow")