.v-login
  .v-l-description Для отправки вам деталей бронирования, нам нужны ваши контактные данные    
  .v-l-optionswrap
    .v-l-social
      | Авторизуйтесь через соц. сети:
      .v-l-s-buttonswrap
        a.v-l-s-fblogin(href="/auth/facebook")
        a.v-l-s-vklogin(href="/auth/vkontakte")
    .v-l-email
      | Или с помощью эл. почты
      form.v-l-e-inputwrap
        span.m-validate-container(data-for="email")
          input.v-l-e-input.tiny(type="email", name='email', placeholder="Ваш адрес эл. почты", autocorrect="off", autocapitalize="off", data-validate="true", data-filter="email", data-error="Введите правильный e-mail", data-errorpos="top", required)
        button.button.orange.tiny.v-l-e-submit Войти
