section#part-search
  //- include header_index

  .p-s-bg-wrap
    .p-s-bg-container
      img.p-s-bg-img(src="/img/views/searchform.jpg")

  .p-s-formwrap
    p.p-s-loading Загрузка...

section#part-serp
  header.p-s-header-wrap

  .p-s-trips-wrap
    .p-s-t-loading Загрузка...
    .p-s-t-error Произошла ошибка. Неверные параметры пойска?
    .p-s-t-content
