section.p-journey.l-wrap
  header.p-j-header
    span.p-s-h-action.p-s-h-newsearch Новый поиск
    span.p-s-h-action.p-s-h-bookselected Результаты поиска

  .p-s-trips-wrap
    .p-s-t-loading Загрузка...
    .p-s-t-error Произошла ошибка. Неверные параметры пойска?
    .p-s-t-content
