//- li.v-s-t-stop
- var uniqueID = uniqueID || _.uniqueId('trip_');

.v-s-t-s-date.m-validate-container(data-for="date_" + uniqueID)
  input.m-input-calendar(type="hidden", name="date_" + uniqueID, value=date, data-validate="true", data-error="Выберите дату", required)
