//- li.v-s-t-stop
- var uniqueID = _.uniqueId('trip_');
.v-s-t-s-place.m-validate-container(data-for="place_" + uniqueID)
  input.v-s-t-s-p-name(type="text", name='place_' + uniqueID, value=displayName, placeholder="Город", autocomplete="off", autocorrect="off", autocapitalize="off", x-webkit-speech="x-webkit-speech", data-validate="true", data-error="Выберите город", data-errorpos="bottom", required)
  ul.v-s-t-s-p-suggestions

.v-s-t-s-date.m-validate-container(data-for="date_" + uniqueID)
  input.m-input-calendar(type="hidden", name="date_" + uniqueID, value=date, data-validate="true", data-error="Выберите дату", required)

if removable
  span.v-s-t-s-removestop.button.gray.tiny &ndash;
