section.v-searchform.l-wrap

    h2.v-s-title GoFree
    strong.v-s-subtitle Умный поиск и планирование путешествий.

    form.v-s-form

      .v-s-initial

        h2 Откуда
        
        .vs-initial-place

        .v-s-guests
          select.m-input-select(name="adults")
            - for (var i = 1; i <= 6; i++)
              - var selected = (adults === i);
              option(value=i, selected=selected)= app.utils.choosePlural(i, ['гость', 'гостя', 'гостей'])

      //- .v-s-conditions
      //-   .v-s-budget.m-validate-container(data-for="budget")
      //-     label Бюджет
      //-     input.v-s-amount.small(type="text", name="budget", min=10000, value=budget, data-validate="true", data-error="Выберите бюджет", data-filter="number", required)
      //-     small руб

      h2 Путешествие

      .destinations-wrapper

        ul.v-s-destinations
        .v-s-t-stop.vs-final-place
          
          .v-s-t-s-place
            label

          .vs-final-date

        p.v-s-destinations-add
          span.v-s-d-add.pointy.disabled &plus; добавить город

      .v-s-error Пожалуйста, выберите города из выпадающих списков.

      .v-s-submit
        button.button.orange.v-s-submitform 
          span Найти жилье и перелеты

    .contacts
      p GoFree &copy; 2013
      p 
        a(href='/about')о проекте
