section.v-searchform
  .bg

  .l-wrap
    h2 Создай свое путешествие
    form.v-s-form
      ul.v-s-destinations

      p.v-s-destinations-control
        span.v-s-d-add &plus; добавить перелет

      .v-s-conditions
        .v-s-guests
          input.v-s-adults(type="text", value=adults)
          input.v-s-children(type="text", value=children)

        .v-s-budget
          label Бюджет
          input.v-s-amount(type="text", value=budget)
          small руб

      .v-s-submit
        button.button.orange 
          span Найти отели и перелеты


    .v-s-description
      header.
        Shazooo помогает вам искать и бронировать перелёты, поезда, такси, отели,
        комнаты и многое другое действительно легко и быстро!

      p.
        Составляйте маршрут своего путешествия, учитывая все детали, делитесь с друзьями,
        отдыхайте, мы позаботимся об остальном.
