extends ./../splash

block body
  section.conversions.v-login
    h1 Dashboard
    
    h2 Number of searches
    span=numberOfSearches

    h2 Number of users
    span=numberOfUsers

    h2 Conversions
    span=numberOfConversions