extends ./../splash

block body
  section.p-error
    .p-e-bg-wrap
      .p-e-bg-container
        img.p-e-bg-img(src="/img/views/invite.jpg")

    .p-e-content
      h2.p-e-message GoFree
      strong.p-e-submessage Приглашение уже использовано или его никогда не существовало.
      p.p-e-submessage 
        a(href='mailto:ss@gofree.ru') Напиши нам
        span , и мы пришлем тебе новое.
