extends layout

block content
  #page-sandbox

    .block
      button.button.orange Добавить
    
    .block
      button.button.orange(disabled) Добавить

    .block
      a.button.orange Добавить
    
    .block
      a.button.orange.disabled Добавить

    .block
      button.button.green Добавить
      
    .block
      button.button.green(disabled) Добавить

    .block
      a.button.green Добавить
      
    .block
      a.button.green.disabled Добавить

    .block
      input(type="text", placeholder="Пизда")

    .block
      input(type="text", placeholder="Пизда", disabled)

    .block
      textarea(placeholder="Cheeryo")

    .block
      textarea(placeholder="Cheeryo", disabled)

