doctype 5
html(lang="ru")
	head
		title=  'ostroterra'

		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic')
		link(rel='stylesheet', href='/css/build/main.css') 

		script(type="text/javascript")
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-35044017-1']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();



body
	div(class="navbar navbar-fixed-top", id="navbar")
		.navbar-inner
			.container
				a(class="brand", href='/') 
					span ostroterra

				ul.nav
					li.links
						a(href='/about') о сайте
				
				script(type='text/javascript')
					if(!window.pluso){pluso={version:'0.9.1',url:'http://share.pluso.ru/'};h=document.getElementsByTagName('head')[0];l=document.createElement('link');l.href=pluso.url+'pluso.css';l.type='text/css';l.rel='stylesheet';s=document.createElement('script');s.src=pluso.url+'pluso.js';s.charset='UTF-8';h.appendChild(l);h.appendChild(s)}					

				.floatRight

					ul(class="nav")
						
						li
							span.desc туристы &nbsp;
						li
							div(class="navbar-form pull-left")
								input(type="text", class="span1 navbarInput", value="2", type="number", min="1", max="5", id="numAdults")
						li
							span.desc &nbsp; бюджет &nbsp;
						li
							div(class="navbar-form pull-left")
								input(id="maxPrice", step=2000, type="text", class="span2 navbarInput", value="100000", type="number", min="500", max="1000000000")
						li 
							span(class="rur desc") &nbsp; &#8399;				
	
	.container
		div(id="muscularBody")
			block body
	.footer

	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
	script(src='/js/bundle.js')
	script(src='/socket.io/socket.io.js')
	