doctype 5
html
  head
    title=  'ostroterra'
    !=assets.tag('/app.css')

body

  block content

  script
    var A = {};

  script(src='/socket.io/socket.io.js')
  !=assets.tag('/views.js')
  !=assets.tag('/app.js')
  
