extends ../splash

block body

	.p-content
		.p-city
			header.city-name
				h1 Таллин
				p Эстония
			section.city-info-left-column 
				article
					h2 Общая информация
					div
						img.map(src="/img/views/map.png")
						div 
							p Таллин (до 1917гю - Ревель) &ndash; (Tallin) &nbsp; столица Эстонии,крупный морской флот.
							p Таллин располагается на южном берегу Финского залива Балтийского моря, в 80 километрах от Хельсенки.
							p Площадь &ndash; 159,2 кв.км.
							p Население &ndash; 410 тыс.чел.
							p Основное население &ndash; эстонцы и руские.
							p Валюта &ndash; евро(&euro;).
							p Телефонный код: 8-10-372-6.
							p Основное население &ndash; эстонцы и руские.
							p Валюта &ndash; евро(&euro;).
							p Телефонный код: 8-10-372-6.
				article
					h2 Достопримечательности города
					div.photogallery
						img(src="/img/views/city-page.png")
					p Кадриоргский дворец и парк – одно из традиционных мест паломничества туристов. Экстравагантный образец монаршей щедрости – дворцовый ансамбль в стиле барокко, с величественным интерьером, в окружении парка с фонтанами, был построен Петром I в подарок супруге Екатерине I. В залах дворца экспонируется ценное собрание Эстонского музея зарубежного искусства.

			section.city-info-right-column 
				article
					h2 Климат
					p Средняя температура в Таллине составляет 16.4&deg;C, но может подняться и до 30&deg;C. Летом наблюдаются "Белые ночи". 
					p Из-за близости Балтийского моря осенью и весной часто идут дожди, переходящие зимой в снег. Зато весной и летом прохладные морские ветры не допускают жары.
				article
					h2 Звонки и интернет
					p Звонок из Росси в Таллин со стационарного телефона на стационарный: 8 - гудок - 10 - 372 - 6 - номер абонента. 
					p С мобильного на мобильный (на номер эстонского оператора): + 7 372 - 6 - мобильный номер.
					p Точки доступа бесплатного Wi-Fi в Таллине расположены в гостиницах, кафетериях, на пляжах и городских площадях, и даже в парках.

				article
					h2 Экстренные случаи
					p Департамент муниципальной полицииЖ Таллин, Палдийское шоссе, д.47.
					p Тел.: 6619860
					p Email: munitsipaalpolitsei@tallinlv.ee

			section.city-transport 
				h2 Как добраться?
				article.on-airplane
					h3 На самолете
					p Международный ээропорт Таллина имени Леннарта Мери.
					p Их аэропорта в город:
					p Автобус. С 00:07 часов утра до 24:00 автобус №2 каждые полчаса курсирует по маршрутуЖ Аэропорт - Центр города - Морской порт.
					p Стоимость произдного билета, купленного в газетном киоске &ndash; 0,96 &euro;(у водителя &ndash; 1,6 &euro;).
					p Такси. Проезд на такси до центра города стоит около 7,6 &euro;.
				article.on-train
					h3 На поезде
					p Поезд из Москвы (единственный из России) в Таллин ежедневно отправляется с Ленинградского вокзала, длительность поездки составляет около 15 часов.
				article.on-auto
					h3 На автомобиле
					p Москва находится в 1100км., Санкт-Петербург &ndash; в 360 км. от Таллина.
					p Удобный пограничный переход для автомобилистов расположен в Ивангороде (Нарве) или границу можно пересечь в городе Икла на трассе Via Baltica (отрезок шоссе Е67), если ехать через Латвию.
				article.on-bus
					h3 На автобусе
					p Из Москвы по субботам в 19.00 с Аэровокзала (Ленинградский пр. 37б) через Псков и Тарту в Таллин идет автобус компании «Ecolines». Прибытие в Таллин &ndash; в 12.45. Цена за проезд &ndash; от 1890 рублей.
					p Ежедневно с автовокзала и от Балтийского вокзала из Петербурга в Таллин отправляются не менее десяти рейсовых автобусов. Время в пути &ndash; от 6 часов. Цены на билеты &ndash; от 655 до 2000 рублей (в зависимости от компании).
					p Международные автобусные линии (Eurolines, Ecolines, Hansabuss) связывают Таллинн с городами Европы, а также с Калининградом, Каунасом, Киевом, Ригой, Вильнюсом и Варшавой.
				article.on-tram
					h3 Городской транспорт
					p Общественный транспорт Таллина включает в себя троллейбусы, трамваи и автобусы, все виды транспорта курсируют с 06:00 утра до 23:00 ночи.
					p В киосках города проездные билеты стоят 0,96 &euro;, у водителя &ndash; 1,60 &euro;. В киосках выгодно покупать сразу 10 проездных билетов за 6,39 &euro; или одночасовой билет &ndash; 0,96 &euro;, двухчасовой &ndash; 1,60 &euro;, однодневный (24 ч.) &ndash; 4,47 &euro; и трехдневный (72 ч.) &ndash; 7,35 &euro;. Для повременных билетов около второй двери транспортного средства установлены специальные электронные компостеры, отмечающие на билетах время и дату их использования. Обладатели Tallinn Card могут бесплатно пользоваться всеми видами городского транспорта в пределах срока их действия.

			section.city-historical-info
				h2 Исторические сведения
				p Считается, что городище эстов на Тоомпеа (Вышгород) существовало в X–XI вв.
				p Первое упоминание о Таллине (Колывани) в летописях относится к 1154 году, в труде арабского географа Аль-Идриси, который называл его Quoluwany.
				p Захватившие в 1219 году город датчане построили в нем Малую крепость. В 1346 году датский король продал Таллин и все эстонские земли Тевтонскому ордену, который через год перепродал его Ливонскому ордену. Тогда город стал называться Ревель.
				p В результате Ливонской войны власть Ордена была уничтожена, а Ревель с 1561 года отошел в руки шведов. В этот период город пережил экономический спад, а его население голод и чуму.
				p В результате Северной войны в 1710 году Ревель был присоединен к Российской империи. Город быстро развивался как морской порт.
				p В 1917 году в Эстонии была провозглашена Советская власть.
				p С 1918 по 1940 год город находился под немецкой оккупацией.
				p В 1940 году Таллин стал столицей Эстонской Советской Социалистической республики.
				p В 1941 году город опять попал под немецкую оккупацию и был освобожден советскими войсками в 1944 году.
				p После распада СССР в 1991 году и по настоящий момент Таллин остается столицей независимой Эстонии.
