@import 'trips_stop.less';

.v-searchform {
  position: relative;

  .bg {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    background: #2c3d5b url('img/views/searchform.jpg') no-repeat center center;
    background-size: cover;
  }

  .l-wrap {
    padding: 30px 0;
    position: relative;
    .cf;

    color: #fff;

    h2 {
      font-weight: 600;
      font-size: 23px;
      text-transform: uppercase;
    }

    .v-s-form {
      width: 550px;

      margin-top: 5px;

      float: left;

      background: #199cb8;
      .border-radius(3px);
      .box-shadow(0 1px 3px rgba(0, 0, 0, .5));

      .v-s-destinations {
        .cf;
      }

      .v-s-destinations-add {
        margin-top: 20px;

        font-weight: 300;
        font-size: 11px;

        text-align: center;
      }

      .v-s-conditions {
        margin-top: 10px;
        padding: 20px;
        border-top: 1px solid #30a6bf;

        .cf;

        .v-s-guests {
          float: left;
        }
        .v-s-budget {
          float: right;
        }

        .v-s-adults {
          width: 100px;
        }
        .v-s-amount {
          width: 66px;
          margin: 0 5px;
        }
      }

      .v-s-submit {
        padding: 20px;
        text-align: center;
      }
    }

    .v-s-description {
      margin-left: 570px;

      header {
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
      }

      p {
        margin-top: 20px;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}
