.m-searchform {
  position: relative;

  .bg {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    background: #2c3d5b url('img/views/searchform.jpg') no-repeat center center;
    background-size: cover;
  }

  .l-wrap {
    padding: 30px 0;
    position: relative;
    overflow: hidden;

    color: #fff;

    h2 {
      font-weight: 600;
      font-size: 23px;

      text-transform: uppercase;
    }

    .m-s-form {
      width: 510px;

      margin-top: 5px;
      padding: 20px;

      float: left;

      background: #199cb8;
      .border-radius(3px);
      .box-shadow(0 1px 3px rgba(0, 0, 0, .5));
    }

    .m-s-description {
      margin-left: 570px;

      header {
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
      }

      p {
        margin-top: 20px;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}
