extends ../splash

block body
  section.p-content

    .p-c-bg-wrap
      .p-c-bg-container
        img.p-c-bg-img(src="/img/views/about.jpg")
    
    .p-c-content
      h2 GoFree

      .l-wrap
      
        p GoFree — это новый помощник в подготовке ваших незабываемых поездок. Мы объединили на одном сайте все, что понадобится вам для путешествия: авиабилеты, отели, апартаменты, страховки и многое другое. 

        p Мы ищем на множестве тревел-ресурсов и автоматически показываем оптимальные варианты, экономя ваше время.

        p В скором времени мы готовим кое-что революционное, благодаря чему вы даже и не подумаете искать свои путешествия где-то еще. Обещаем.
        
        p Хотите сотрудничать? – Пишите на 
          a(href="mailto:hello@gofree.ru") hello@gofree.ru 