!!!5
html
  body
    h1 jade
    
    - if (typeof(user) != 'undefined')
    
      span= "Hi, " + JSON.stringify(user)
      a(href='/logout')= "logout"
    
    - else
      a(href='/auth/facebook')= "login"
