extends layout

block content
  #page-sandbox

    .m-carousel
      span.m-c-prev.m-c-control.disabled &lt;
      span.m-c-next.m-c-control &gt;

      span.m-c-count 0/0

      .m-c-coutainer
        ul.m-c-list
          li.m-c-l-item 1
          li.m-c-l-item 2
          li.m-c-l-item 3
          li.m-c-l-item 4
          li.m-c-l-item 5
          li.m-c-l-item 6
          li.m-c-l-item 7
          li.m-c-l-item 8
          li.m-c-l-item 9


