extends splash

block body
  section.p-error
    .p-e-bg-wrap
      .p-e-bg-container
        img.p-e-bg-img(src="/img/cities/custom/th--pattaya-blured.jpg")

    .p-e-content
      h2.p-e-message Неудача
      strong.p-e-submessage Такой страницы не найдено
