extends layout

block header

block content
  section#part-search
    include includes/header

    .p-i-bg-wrap
      .p-i-bg-container
        img.p-i-bg-img(src="/img/views/searchform.jpg")

    .block-form
      p.loading Загрузка...

  section#part-serp
    header.serp-header-wrap
