extends layout

block header

block content
  #part-search
    include includes/header

    .p-i-bg-wrap
      .p-i-bg-container
        img.p-i-bg-img(src="img/views/searchform.jpg")

    .block-form
      p.loading Загрузка...

  #part-serp
    | HERE BE DRAGONS
