extends layout

block header

block content
  section#part-search
    include includes/header

    .p-i-bg-wrap
      .p-i-bg-container
        img.p-i-bg-img(src="/img/views/searchform.jpg")

    .block-form
      p.loading Загрузка...

  section#part-serp
    header.p-s-header-wrap

    .p-s-trips-wrap
      .p-s-t-loading Загрузка...
      .p-s-t-error Произошла ошибка. Неверные параметры пойска?
      .p-s-t-content
